#myCart {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
#myCart > div {
    margin-right: 10px;
}
#cartText {
    line-height: 1.4; 
    font-size: 0.8rem;
}
.btn {
    padding: 0.4rem 1.2rem;
}
.btn.disabled, .btn:disabled {
    opacity: .5;
}

@media only screen and (min-width: 992px) {
    #myCart {
        justify-content: flex-end;
    }
}
