.bg-maroon {
    background-color: #681716;
}
.navbar-expand-md .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
    cursor:pointer;
    padding-right: .5rem;
    padding-left: .5rem;
}
.navbar-dark .navbar-nav .nav-link.active {
    background-color: #555;
    color: #fff;
    border-radius: 4px;
}
.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #555;
    color: #fff;
    border-radius: 4px;
}
#pageBtn button {
    border: 1px solid #681716;
    color:#333;
    box-shadow: none;
    background-color: #f9f1b7;
}
#pageBtn button.active {
    background-color: #681716;
    color:#fff;
}
#books img {
    width: 100%;
    height: auto;
}
#books h4 {
    font-size: 18px;
}
.btn {
    white-space: pre-wrap;
}
#sidebar img {
    width: 70%;
    margin-top: 1.8rem;
}