<div class="row">
    <div class="col-12">
        <div id="footer">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <h2>Books Guide</h2>
                    <p>Διεύθυνση: Ελ.Βενιζέλου 140, Καλλιθέα, Αθήνα</p>
                    <p>Τηλέφωνο: +30210 7455888</p>
                    <p>Email: support@booksguide.com</p>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <h4>ΠΛΗΡΟΦΟΡΙΕΣ</h4>
                    <p>Prices drop</p>
                    <p>Νέα προϊόντα</p>
                    <p>Best sales</p>
                    <p>Επικοινωνία</p>
                    <p>Sitemap</p>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <h4>EXTRAS</h4>
                    <p>Αποστολή</p>
                    <p>Ποιοι είμαστε</p>
                    <p>Καταστήματα</p>
                    <p>Contact us</p>
                    <p>Sitemap</p>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <h4>NEWSLETTER SUBSCRIBE</h4>
                    <p>
                      <input type="email" placeholder="Εισάγετε το email σας.." class="form-control mt-2">
                      <button type="submit" class="btn btn-primary btn-block mt-2">SUBSCRIBE</button>
                    </p>
                    <h4>STAY CONNECTED</h4>
                    <i class="fab fa-facebook fa-2x"></i>
                    <i class="fab fa-youtube fa-2x"></i>
                    <i class="fab fa-twitter fa-2x"></i>
                    <i class="fab fa-instagram fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
</div>
