.bg-maroon {
    background-color: #681716;
}
.navbar {
    padding: 0;
}
.navbar-expand-md .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
    cursor:pointer;
    padding-right: .6rem;
    padding-left: .6rem;
    border-top: 1px solid #681716;
    border-left: 1px solid #681716;
    border-bottom: 1px solid #681716;
}
.navbar-dark .navbar-nav .nav-link.active {
    background-color: #fff;
    color: #681716;
}
.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #fff;
    color: #681716;
}